<?xml version="1.0" encoding="utf-8"?>
<Juego>
    <Entidad name="Menu" activo="si">
		<Componente name="Menu" imagen="Fondo">            
        </Componente>
        <Componente name="Boton" texto="Empezar partida" tipo="Start">            
        </Componente>
		<Componente name="Boton" texto="Opciones" tipo="Options">            
        </Componente>
		<Componente name="Boton" texto="Salir" tipo="Exit">            
        </Componente>
    </Entidad>    
    <Entidad name="Camara" activo="si">        
    </Entidad>            
</Juego>